
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    background: #000000;
    color: #fff;
    font-family: Arial, sans-serif;
}


header {
    background: #000000;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0px;
    z-index: 100;
    font-size: 20px;
    font-family: sans-serif;
    background: black;
}

header img {
    height: 110px;
    width: 130px;
    margin-top: 20px;
    margin-left: 50px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f06013; 
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}




.webdevelopment {
    margin-top: 200px;
    margin-left: 40px;
    position: absolute;
    transition: transform 0.5s ease; 
    transform: translateX(0); 
}



.webdevelopment h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100px;
    width: 400px;
    margin-top: 0; 
    font-weight: bolder;
    animation: riseUpAnimation 8s ease-in-out infinite;
}

.webdevelopment img {
    height: 400px;
    width: 550px;
    margin-left: 600px;
    margin-top: -160px;
    animation: floatAnimation 5s ease-in-out infinite;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.5cm);
    }
}

@keyframes riseUpAnimation {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.2;
    }
    50% {
        transform: translateY(-20px); 
        opacity: 1;
    }
}

.webdevelopment p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 550px;
    margin-top: -150px; 
    animation: riseUpAnimation 8s ease-in-out infinite;
}

.get-started-button {
    background-color: #f06013;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
    background-color: darkorange; 
}

.arrow {
    font-size: 15px;
    padding: 10px;
    background-color: #f06013;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
}

.arrow:hover {
    background-color: darkorange;
}

.left-arrow {
    left: 20px;
    top: 200px;
    transform: translateY(-50%);
}

.right-arrow {
    right: 20px;
    top: 200px;
    transform: translateY(-50%);
}

.main-content {
    position: absolute;
    top: 150px; 
}
.link1 {
    background-color: white;
    color:black;
    padding: 30px;
    text-align: center;
    margin-top: 600px;
    
    
    
    
}

h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

.link2 a {
    display: block;
    background-color:black;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 20px;
   
    
}

.link2 a:hover {
    background-color: #f06013;
    color: #fff;
}
.row-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color:black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: -100px;
}

.ten {
    flex: 1 0 30%; 
    margin: 10px;
    padding: 70px;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}


.ten img {
    max-width: 400px;
    height: auto;
}
.ten h2{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    margin-top: -10px;
}
.ten p{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    text-align: center;

}
#h1{
    text-align: justify;
    margin-left: 740px;
    margin-right: 30px;
    margin-top: -840px;
    font-size: 20px;

}
.plus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    background-color:white;
    color: black;
    text-align: center;
}

.minus {
    flex: 1;
    margin: 15px;
    padding: 20px;
    background-color:black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:white;
}
.social-icons {
	padding:30px;
	
    text-align: center;
    
  
    
}
.social-icons a {
	color:#fff;
  line-height: 200px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  transition:  1.3s;
  color: orange;
  height: 20%;
  
}


.social-icons a,img:hover {
  
  transform: scale(1.2);
 
}
footer {
    background-color: white;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60%;
}





